.panel
  background-color: #fff
  width: 1110px
  margin: -90px auto 0
  display: flex
  border-radius: 6px
  justify-content: space-between
  flex-direction: column
  height: auto

  &-grid
    margin: 0 auto
    display: flex
    width: 1110px
    flex-direction: row
    justify-content: center
    flex-wrap: wrap

  &-item
    padding: 15px 30px
    background: #fff
    height: 100px
    width: 20%
    display: flex
    align-items: center
    justify-content: center
    border-left: 2px solid #F5F5F5
    border-top: 2px solid #F5F5F5

    &:nth-child(-n+5)
      border-top: none

    &:nth-child(n+6)
      border-left: none
      border-right: 2px solid #f5f5f5
      border-bottom: none

    &:nth-child(-n+1)
      border-left: none

    &:last-child
      border-right: none


  &-about
    padding: 45px

  &-wrapper
    font-family: 'Roboto', sans-serif
    color: #666
    font-size: 16px
    line-height: 30px

@media only screen and (max-width: 768px)
  .panel-grid
    width: 100%
  .panel
    width: 90%

@media only screen and (max-width: 480px)
  .panel-grid
    width: 100%
    flex-direction: column
  .panel-item
    border-right: none
    border-left: none
    padding: 0
    width: 100%
    height: 225px
    border-bottom: 2px solid #f5f5f5
