.teammate
  width: 25%
  height: 255px
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif

  &-img
    width: 100%
    background-position: center
    background-size: cover
    height: 100%
    position: relative

    &:hover .teammate-description
      transform: translateY(-67%)

    &:hover .teammate-social
      transform: translateY(0)
      visibility: visible
      opacity: 1

  &-description
    display: flex
    transition: .3s ease-out
    flex-direction: column
    padding: 30px 30px
    background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent)
    position: absolute
    bottom: 0
    width: calc(100% - 60px)

  &-social
    transform: translateY(100%)
    position: absolute
    bottom: 0
    display: flex
    visibility: hidden
    width: 100%
    background: #1875f0
    padding: 20px 30px
    box-sizing: border-box
    justify-content: center
    flex-direction: row
    opacity: 0
    transition: .3s ease-out

  &-name
    font-size: 16px
    color: #fff
    font-weight: 500
    line-height: 30px

  &-position
    font-size: 12px
    color: #fff
    opacity: .5
    font-weight: 700

  &-icon
    margin: 0 10px
    color: #fff
    font-size: 20px

.teammate-grid
  margin: 0 auto
  display: flex
  width: 1110px
  justify-content: center
  flex-wrap: wrap

@media only screen and (max-width: 768px)
  .teammate-grid
    width: 100%
    margin-top: 10px

  .teammate
    height: 325px
    width: 50%

@media only screen and (max-width: 480px)
  .teammate-grid
    margin-top: 50px
  .teammate
    height: 325px
    width: 100%

    &-img
      &:hover .teammate-description
        transform: translateY(-60%)

    &-name
      font-size: 21px
      margin-bottom: 5px

    &-position
      font-size: 18px