@import "libs/normalize.css"

body
  background-color: #fafafa
  padding: 0
  margin: 0

.preloader
  width: 100%
  display: flex
  height: calc(100vh - 80px)
  justify-content: center
  align-items: center

.animation-enter
  opacity: 0.01

.animation-enter.animation-enter-active
  opacity: 1
  transition: opacity 500ms ease-in

.animation-leave
  opacity: 1

.animation-leave.animation-leave-active
  opacity: 0.01
  transition: opacity 300ms ease-in

.animation-appear
  opacity: 0.01

.animation-appear.animation-appear-active
  opacity: 1
  transition: opacity .5s ease-in
