.imagebackgound
  margin-top: -120px
  z-index: -1
  width: 100%
  object-fit: cover
  position: relative

  &-wrapper
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)

  &-content
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
