.articlecontent-main
  background-position: center
  width: 1110px
  margin: 0 auto
  border-radius: 6px 6px 0 0

@media only screen and (max-width: 1024px)
  .articlecontent-main
    background-position: center
    width: 100%
    margin: 0 auto
    border-radius: 6px 6px 0 0
