.title
  display: flex
  height: fit-content !important
  flex-direction: column
  align-items: center
  position: relative
  justify-items: center
  padding: 30px 0
  font-family: 'Roboto', sans-serif

  &-text
    font-size: 36px
    font-weight: 300

  &-line
    width: 65px
    border-bottom: 2px solid #f74236