.title
  display: flex
  height: fit-content !important
  flex-direction: column
  align-items: center
  position: relative
  justify-items: center
  padding: 30px 0
  font-family: 'Roboto', sans-serif
  z-index: 3

  &-text
    font-size: 36px
    font-weight: 300

  &-line
    width: 65px
    border-bottom: 2px solid #f74236

  &-second
    font-size: 100px
    color: #f5f5f5
    letter-spacing: 10px
    font-weight: bolder
    text-transform: uppercase
    position: absolute
    margin: auto auto
    left: 0
    right: 0
    text-align: center
    z-index: -1

@media only screen and (max-width: 768px)
  .title
    &-second
      font-size: 40px
      line-height: 70px

@media only screen and (max-width: 768px)
  .title
    &-text
      line-height: 50px
      text-align: center