.card_main
  grid-column-end: span 1
  grid-template-columns: 1fr
  grid-column: span 4
  height: 100%
  grid-row: span 2
  box-shadow: none
  & .card-thumbnail
    height: 250px
    width: 536px
    img
      border-radius: 0
  & .card-head
    width: 370px
    display: flex
    flex-direction: column
    align-content: center
    justify-content: space-between
    align-items: center
    & .card-tag
      position: relative
      width: min-content
      margin: 0
      margin-top: 20px
    & .card-title
      color: black
      font-size: 30px
      font-weight: 400
      line-height: 1.25
    & .card-description
      text-align: center
      font-size: 13px
      line-height: 1.15
      color: #999

  & .card-body
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 40px

  & .card-footer
    width: 370px
    display: flex
    justify-content: space-around
    align-items: center
    & .card-author
      display: none
    & .card-views
      color: #b8b8b8
    & .card-comments
      color: #b8b8b8

@media only screen and (max-width: 1024px)
  .card_main
    grid-column: 1/3
    & .card-thumbnail
      width: 100%
      img
        border-radius: 0
      & .card-head
        & .card-tag
          margin: 20px 0
        & .card-title
          margin: 15px 0
        & .card-description
          margin: 25px 0
          margin-bottom: 30px
      & .card-head
        width: 100%
      & .card-body
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 20px

      & .card-footer
        width: 100%

@media only screen and (max-width: 480px)
  .card_main
    & .card-thumbnail
      width: 100%
      img
        border-radius: 0
    & .card-head
      & .card-tag
        margin: 20px 0
      & .card-title
        margin: 15px 0
      & .card-description
        margin: 25px 0
        margin-bottom: 30px
    & .card-head
      width: 100%
    & .card-body
      position: relative
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 20px
    & .card-footer
      width: 100%
