@import "../../styles/config/colors"

.footer
  width: 100%
  margin-top: 50px
  padding: 60px 0
  background-color: white
  font-family: 'Roboto', sans-serif
  font-weight: 500
  &-wrapper
    max-width: 1110px
    min-width: 0
    height: 100%
    margin: 0 auto
    display: grid
    grid-template-columns: 125px 230px 310px
    grid-template-rows: 180px
    justify-content: space-around
    grid-template-areas: 'copyright nav contacts'
  &-copyright
    display: flex
    flex-direction: column
    grid-area: copyright
    span
      font-size: 14px
      color: #b3b3b3
      margin-bottom: auto
    svg
      margin-bottom: auto
  ul
    list-style-type: none
    padding-left: 0
    margin: 0
  hr
    margin: 0
    width: 65px
    height: 2px
    background-color: #e6e6e6
    border: none
  .icon
    margin-right: 16px

.footer-navigation
  display: flex
  flex-direction: column
  grid-area: nav
  justify-content: space-around
  span
    color: #666666
    font-size: 16px
  ul
    margin-top: 35px !important
    display: flex
    flex-wrap: wrap
    flex-direction: column
  a
    line-height: 40px
    color: #9b9b9b
    font-size: 14px
    transition: all 200ms ease-in
    text-decoration: none
    &:hover
      color: $color-active

.footer-contacts
  display: flex
  flex-direction: column
  grid-area: contacts
  justify-content: space-between
  span
    color: #666666
    font-size: 16px
  a
    color: gray
    transition: all 200ms ease-in
    font-weight: 400
    text-decoration: none
    font-size: 16px
    margin-left: 20px
    &:hover
      color: $color-active
    &:first-child
      margin-left: 0

.footer-socials
  a:hover path
    fill: $color-active

@media only screen and (min-width: 480px) and (max-width: 1024px)
  .footer
    &-wrapper
      max-width: 970px
      grid-template-rows: 180px 120px
      grid-template-columns: 125px 260px
      grid-template-areas: 'copyright contacts' 'nav too_nav'

@media only screen and (min-width: 480px) and (max-width: 1024px)
  .footer-navigation
    grid-column: span 2
    ul
      flex-direction: row
      margin-top: 0 !important
      justify-content: space-between

@media only screen and (max-width: 748px)
  .footer
    height: auto
    &-wrapper
      display: flex
      justify-content: space-between
      flex-direction: column
      span
        margin-bottom: 10px
    &-copyright
      align-items: center
      .icon
        margin-right: 0

@media only screen and (max-width: 480px)
  .footer-navigation
    grid-column: span 2
    flex-direction: column
    align-items: center
    margin-top: 10px !important
    ul
      list-style: none
      padding: 0
      width: 100%
      margin: 0 !important
      flex-direction: row
      li
        text-align: center
        display: inline
        width: 50%
        float: left
        margin-top: 10px
        a
          color: #9b9b9b
          font-size: 14px

@media only screen and (max-width: 480px)
  .footer
    &-contacts
      flex-direction: column
      align-items: center
    &-phone
      display: flex
      flex-direction: column
      align-items: center
      a
        margin: 0
        margin-top: 25px
    hr
      margin: 30px 0