.card_medium.card_type_fill
  grid-template-rows: 100% auto 60px
  grid-template-areas: none
  grid-column-end: span 1
  grid-template-columns: 1fr
  height: 100%
  position: relative
  min-height: 190px
  .card-head
    height: 100%
    display: flex
    justify-content: flex-start
    .card-thumbnail
      height: 100%
      width: 100%
      border-radius: 5px
      background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.99))

  .card-body
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 90%
    & .card-title span
      text-align: left
      line-height: 1.25
      color: white
      font-size: 18px
      font-weight: 500
  .card-footer
    position: absolute
    border-top: none
    bottom: 0
    height: 20px
    padding: 20px 20px
    font-weight: 500
    display: flex
    justify-content: space-between
    align-content: center
    width: calc(100% - 40px)
    & .card-views
      color: #ffffff
    & .card-date
      color: white
    & .card-author
      display: none
    & .card-comments
      display: none

.card_medium.card_type_fill
  & .card-thumbnail.preload-image
    img.content
      opacity: 0
      border-radius: 5px
      transition: opacity linear 500ms

.card_medium.card_type_fill
  & .card-thumbnail.preload-image._loaded
    img.content
      opacity: 0.55
      border-radius: 5px
