.articlecontent
  &_carousel
    padding: 30px 80px
    display: flex
    font-family: "Roboto", sans-serif
    align-items: center
    justify-content: space-between
    background: white
  &-wrap
    display: flex
    width: 100%
    transition: transform .5s
    will-change: transform
    position: relative
    z-index: 1
    height: 300px
  &-area
    width: 80%
    overflow: hidden
    position: relative
    box-sizing: border-box
    display: flex
    justify-content: space-between
  &-item
    flex: 0 0 100%
    overflow: hidden
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center

@media only screen and (max-width: 1024px)
  .articlecontent
    &-left
      grid-area: left
      position: relative
      display: flex
      justify-content: flex-start

    &-right
      grid-area: right
      position: relative
      display: flex
      justify-content: flex-end

    &-area
      grid-area: slide
      position: relative
      width: 100%

    &_carousel
      padding: 30px 20px
      display: grid
      background: white
      grid-template-columns: auto auto
      grid-template-rows: auto 90px
      grid-column-gap: 30px
      grid-row-gap: 20px
      grid-template-areas: "slide  slide" "left  right"
