.articleheader_centered
  & .articleheader-content
    display: grid
    border-radius: 6px 6px 0 0
    padding: 60px 95px
    grid-template-columns: 80px auto 80px
    grid-template-rows: auto 40px
    grid-column-gap: 30px
    grid-row-gap: 90px
    grid-template-areas: "tools head none" "none1 info none2"
    font-family: 'Roboto', sans-serif
  & .articleheader-tools
    grid-area: unset
  & .articleheader-main
    grid-template-rows: 90px auto 30px 30px
    grid-template-columns: 160px auto
    grid-template-areas: "tag tag" "title title" "date date" "line line"
  & .articleheader-tag
    display: flex
    justify-self: center
    align-self: flex-start
  & .articleheader-title
    text-align: center
    font-size: 36px
    line-height: 1.65
  & .articleheader-date
    text-align: center
    justify-self: center
  & .articleheader-line
    grid-area: line
    display: flex
    justify-self: center
  & .articleheader-info
    justify-content: center

@media only screen and (max-width: 1024px)
  .articleheader_centered
    & .articleheader-content
      padding: 20px 10px
      border-radius: 0
      grid-template-columns: auto auto
      grid-template-rows: auto auto 40px
      grid-row-gap: 20px
      grid-template-areas: "tools none" "head head" "info info"
    & .articleheader-tools
      display: flex
      justify-content: center
    & .articleheader-main
      grid-template-rows: 30px auto 30px 30px
    & .articleheader-title
      font-size: 26px
    & .articleheader-info
      justify-content: center
